RewriteEngine on
RewriteBase /src/local/eclipse-workspace/gwvp-mini/www/ 
RewriteRule ^index\.php.* - [L,B]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA,B]

